extends layout

block content
    .w3-container.w3-black
        table.w3-table.w3-dark-gray
            tr.w3-black 
                th Código 
                th Tipo
                th Custo
                th Stock
                th
            
            each equipamento in equipamentos
                tr.w3-hover-deep-orange
                    td= equipamento.codEquipamento
                    td= equipamento.tipo
                    td= equipamento.custo
                    td
                        table.w3-table.w3-white
                            tr.w3-black 
                                th Tamanho
                                th Quantidade
                            
                            tr.w3-hover-deep-orange
                                for stock in equipamento.stock
                                    tr 
                                        td #{stock.tamanho}
                                        td #{stock.quantidade}
                    td 
                        button.w3-btn.w3-blue.w3-margin-right(style="width:100%")  
                            a(href="requisitar/"+equipamento._id style="text-decoration:none") Requisitar