extends layout

block content
    .w3-container(style="background-color:#36393e")
        .w3-row 
            h1 Meu Perfil #[a(href="/utilizador/editar/" + utilizador._id) #[i.fas.fa-edit]] 
        .w3-row 
            h2 #[i.fas.fa-user] #{utilizador.username}
        .w3-row
            .w3-third.w3-container
                h4 #[i.fas.fa-mobile-alt] #{utilizador.telMovel}
            .w3-third.w3-container
                h4 #[i.fas.fa-phone-alt] #{utilizador.telFixo}
            .w3-third.w3-container
                h4 #[i.fas.fa-envelope] #{utilizador.email}
        .w3-row
            .w3-third.w3-container
                h4 #[i.fas.fa-id-card] #{utilizador.nSocio}
            .w3-third.w3-container
                h4 #[i.fas.fa-id-card-alt] #{utilizador.nFPO}
            .w3-third.w3-container
                h4 #[i.fas.fa-passport] #{utilizador.cc}
        hr
        .w3-row
            .w3-third.w3-container
                .w3-row
                    h3 Dívidas de Eventos
                .w3-row
                    table.w3-table(style="background-color:#424549")
                        tr.w3-black
                            th Evento
                            th Data
                            th Valor
                            th Categoria
                        each dividaEvento in dividasEvento
                            - var evento = eventosMap.get(dividaEvento.codEvento)
                            tr.w3-hover-deep-orange(onclick="link()")
                                td
                                    a(href="/evento/" + dividaEvento.codEvento style="text-decoration:none")=evento.nome
                                td= evento.dataInicio.substring(0,10)
                                td= dividaEvento.valor
                                if dividaEvento.codTransporte
                                    td Transporte
                                else if dividaEvento.codInscrito
                                    td Inscrição

            .w3-third.w3-container
                .w3-row
                    h3 Receitas de Eventos
                .w3-row
                    table.w3-table(style="background-color:#424549")
                        tr.w3-black
                            th Evento
                            th Data
                            th Valor
                            th Categoria
                        each receitaEvento in receitasEvento
                            - var evento = eventosMap.get(receitaEvento.codEvento)
                            tr.w3-hover-deep-orange(onclick="link()")
                                td
                                    a(href="/evento/" + receitaEvento.codEvento style="text-decoration:none")=evento.nome
                                td= evento.dataInicio.substring(0, 10)
                                td= receitaEvento.valor
                                if receitaEvento.codApoioKm
                                    td ApoioKm
            .w3-third.w3-container
                h3 Equipamentos Requisitados
                table.w3-table(style="background-color:#424549")
                    tr.w3-black 
                        th Código Equipamento
                        th Tamanho
                        th Estado
                    each dividaEquipamento in dividasEquipamentos
                        tr.w3-hover-deep-orange
                            td #[a(href="/equipamento/"+dividaEquipamento.codEquipamento style="text-decoration:none") #{dividaEquipamento.codEquipamento.substring(0,6)} ...]
                            td= dividaEquipamento.tamanho 
                            td= dividaEquipamento.estado