extends layout

block content
    .w3-container(style="height:100vh;background-color:#36393e")
        .w3-row 
            h1 Requisitar Equipamento
        .w3-row
            form.w3-container(method="POST" action="/equipamento/requisitar")
                fieldset
                    legend Requisitar Equipamento
                    label Nome
                    input.w3-input.w3-round(type="text" name="nome" value=equipamento.nome style="margin-bottom:6px;background-color:#282b30;color:white;border:none" readonly)
                    label Tipo
                    input.w3-input.w3-round(type="text" name="tipo" value=equipamento.tipo style="margin-bottom:6px;background-color:#282b30;color:white;border:none" readonly)
                    label Custo
                    input.w3-input.w3-round(type="text" name="custo" value=equipamento.custo style="margin-bottom:6px;background-color:#282b30;color:white;border:none" readonly)
                    input(type="hidden" name="_id" value=equipamento._id)
                fieldset
                    legend Tamanho
                    select.w3-select(name="tamanho")
                        each stock in equipamento.stock
                            option(value=stock.tamanho) #{stock.tamanho}
                br
                .w3-row(style="width:100%") 
                    .w3-half.w3-container
                        a(href="/equipamento/" style="text-decoration:none;width:100%").w3-btn.w3-white.w3-margin-right Cancelar
                    .w3-half.w3-container
                        button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Confirmar requisição