extends layout

block content
    .w3-container(style="height:100%;background-color:#36393e")
        .w3-row 
            h1 Utilizador
        .w3-row
            fieldset
                legend Dados
                b(style="background-color:#282b30;wodth:100%;padding:4px") Username
                h1= utilizador.username
                b(style="background-color:#282b30;wodth:100%;padding:4px") ID
                h3= utilizador._id
                b(style="background-color:#282b30;wodth:100%;padding:4px") Nº Sócio
                h3= utilizador.nSocio
                b(style="background-color:#282b30;wodth:100%;padding:4px") nª FPO
                h3= utilizador.nFPO
                b(style="background-color:#282b30;wodth:100%;padding:4px") CC
                h3= utilizador.cc
                b(style="background-color:#282b30;wodth:100%;padding:4px") Email
                h3= utilizador.email
                b(style="background-color:#282b30;wodth:100%;padding:4px") Idade
                h3= utilizador.idade
                b(style="background-color:#282b30;wodth:100%;padding:4px") Telemóvel
                h3= utilizador.telMovel
                b(style="background-color:#282b30;wodth:100%;padding:4px") Telefone Fixo
                h3= utilizador.telFixo